version: "3.9"

services:
  mongo:
    image: mongo:8.0
    container_name: mongo-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: 
      context: ./Back
      dockerfile: Dockerfile
    container_name: todo-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/todoapp
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
    depends_on:
      - mongo

volumes:
  mongo_data:
